<%- include('./partials/head.ejs') %>
<body class="">
  <div class="flex h-screen">
    <%- include('./partials/sidebar.ejs') %>

    <div class="flex-1 p-6 text-white bg-darkBackground">
      <%- include('./partials/header.ejs') %>

      <div class="flex justify-center pt-14">
        <div class="w-96" id="section1">
          <div class="px-10 py-8 mb-6 rounded-sm w-96 bg-darkAccent">
            <h2 class="mb-4 text-xl font-semibold text-darkHeading">
              Personal Information
            </h2>

            <div class="mb-4">
              <label for="name" class="block text-white">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent placeholder:text-white focus:outline-none focus:ring-2 focus:ring-darkPrimary"
                placeholder="Enter name"
                value="<%= student.name %>"
              />
            </div>

            <div class="mb-4">
              <label for="DOB" class="block text-white">Date of Birth</label>
              <input
                type="date"
                id="DOB"
                name="DOB"
                value="<%= (new Date(student.DOB)).toISOString().split('T')[0] %>"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent focus:outline-none focus:ring-2 focus:ring-darkPrimary"
              />
            </div>

            <div class="mb-4">
              <label for="gender" class="block text-white">Gender</label>
              <select
                id="gender"
                name="gender"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent focus:outline-none focus:ring-2 focus:ring-darkPrimary"
              >
                <option value="male" <%= (student.gender == 'male')? 'selected':'' %>>Male</option>
                <option value="female" <%= (student.gender == 'female')? 'selected':'' %>>Female</option>
              </select>
            </div>
          </div>
          <div class="flex justify-between">
            <p></p>
            <button onclick="goToSection2()">
              next<i class="ml-2 fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="hidden w-96" id="section2">
          <div class="px-10 py-8 mb-6 rounded-sm w-96 bg-darkAccent">
            <h2 class="mb-4 text-xl font-semibold text-darkHeading">
              Academic Information
            </h2>

            <div class="mb-4">
              <label for="admissionNo" class="block text-white">Admission Number</label>
              <input
                type="text"
                id="admissionNo"
                name="admissionNo"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent placeholder:text-white focus:outline-none focus:ring-2 focus:ring-darkPrimary"
                placeholder="Enter student ID"
                value="<%= student.admissionNo %>"
              />
            </div>

            <div class="mb-4">
              <label for="grade" class="block text-white">Grade</label>
              <input
                type="text"
                id="grade"
                name="grade"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent placeholder:text-white focus:outline-none focus:ring-2 focus:ring-darkPrimary"
                placeholder="Enter grade"
                value="<%= student.grade %>"
              />
            </div>

            <div class="mb-4">
              <label for="enrollmentDate" class="block text-white">Enrollment Date</label>
              <input
                type="date"
                id="enrollmentDate"
                name="enrollmentDate"
                value="<%= (new Date(student.enrollmentDate)).toISOString().split('T')[0] %>"
                class="w-full p-2 text-white rounded bg-darkSecondaryAccent placeholder:text-white focus:outline-none focus:ring-2 focus:ring-darkPrimary"
              />
            </div>

            <div class="text-center">
              <button
                class="px-3 py-2 rounded-md bg-darkSuccess hover:bg-black"
                id="submitBtn"
                data-studentid="<%= student._id %>"
              >
                Submit 
              </button>
            </div>
          </div>
          <div class="flex justify-between">
            <button onclick="goToSection1()">
              <i class="mr-2 fa-solid fa-arrow-left"></i> prev
            </button>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
  <script>
    const section1 = document.getElementById("section1");
    const section2 = document.getElementById("section2");

    const goToSection1 = () => {
      section1.classList.remove("hidden");
      section2.classList.add("hidden");
    };

    const goToSection2 = () => {
      section1.classList.add("hidden");
      section2.classList.remove("hidden");
    };

    const submitBtn = document.getElementById("submitBtn");

    submitBtn.addEventListener("click", () => {
      const name = document.getElementById("name").value;
      const DOB = document.getElementById("DOB").value;
      const gender = document.getElementById("gender").value;
      const grade = document.getElementById("grade").value;
      const admissionNo = document.getElementById("admissionNo").value;
      const enrollmentDate = document.getElementById("enrollmentDate").value;

      console.log(submitBtn.dataset);
      putEditStudent(submitBtn.dataset.studentid, name, DOB, gender, grade, admissionNo, enrollmentDate);
    });
  </script>
</body>
</html>
